<p>task-view works!</p>
<div class="column__values">
    <span class="column__value">Task</span>
    <span class="column__value">Description</span>
    <span class="column__value">Due Date</span>
    <span class="column__value">Completed?</span>
</div>

<div class="tasks">
    <div class="grid-container">
        <div *ngFor="let task of tasks">
            <div class="row__values">
                <span class="row__value">{{task?.name}}</span> 
                <span class="row__value">{{task?.description}}</span>
                <span class="row__value">{{task?.date}}</span>
                <span class="row__value">{{task.completed | completed}}</span>
            </div> 
        </div>
    </div>
</div>

<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Completed?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task?.name}}</td>
            <td>{{task?.description}}</td>
            <td>{{task?.date}}</td>
            <td>{{task?.completed}}</td>
        </tr>
    </tbody>
</table> -->